body {
    background-color: rgb(0, 0, 0);
    
}

@font-face {
    font-family: 'Rocksalt';
    src: url(./RockSalt-Regular.ttf);
}


.background-design {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background: url(/Users/samkennedy/Desktop/React-Portfolio/react-portfolio/src/wood-ring-GIF.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.scroll-prompt {
    color: honeydew;
    text-align: center;
    height: fit-content;
    margin-top: 150px;
    font-family: monospace;
    font-size: 20px;
}


.section1 {
    align-items: center;
    text-align: center;
    width: 100% !important;
}

.bg-light {
    height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14%;
    border-radius: 5px;
    box-shadow: 6px 8px 8px rgb(112, 114, 124);
    display: flex;
    background-color: honeydew !important;
}

.container-fluid {
    text-align: center;
    padding: auto;
    width: 280px;
    padding-left: 16px;
 }

 .icon-image {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin-top: 37px;
    margin-right: 7px;
  }

.name {
    color: honeydew;
    font-family: "Rocksalt";
    font-size: 34px;
    text-shadow: 4px 4px black;
    text-align: center;
    margin-top: 25px;
    
  }

.nav-link.active {
    color: rgb(0, 0, 0) !important;
    font-size: 17px;
}

.nav-item {
    display: inline;
    color: rgb(0, 0, 0) !important;
    font-size: 17px;
    letter-spacing: 2px;
    text-align: center;
    margin-left: auto;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 {
    padding-left: 0px;
    padding-right: 15px;
}

.project-container {
    display: block;
    text-align: center;
}

.proj2 {
    height: 500px;
    margin-top: 100px;
}

.proj1 {
    height: 500px;
    margin-top: 100px !important;
    display: block;
    text-align: center;
    margin: auto;
}

.code-quiz {
    height: 500px;
    margin-top: 100px;
}

h1 {
    color: honeydew;
    font-size: 40px;
    text-align: center;
    font-family: 'Rocksalt';
    margin-top: 200px;
    margin-bottom: 0px;
}

pre {
    color: honeydew;
    font-size: 25px;
    text-align: center;
    margin-right: 80px;
    margin-bottom: 100px;
}

footer {
    color: cornflowerblue;
    text-align: center;
}

a {
    color: cornflowerblue;
}
.resume {
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 10px;
}

.github {
    margin-left: 110px;
}

.proj2-links {
    color: honeydew;
    font-family: monospace;
}

.proj1-links {
    color: honeydew;
    font-family: monospace;
}

.code-quiz-links {
    color: honeydew;
    font-family: monospace;
    margin-bottom: 60px;
}